<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>ShortlistR</title>

	<!-- JQuery -->
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="css/jquery-ui.min.css">
	<link rel="stylesheet" href="css/jquery-ui.structure.min.css">
	<link rel="stylesheet" href="css/jquery-ui.theme.min.css">

	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">

	<!-- D3 -->
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

	<!-- Fonts -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.3.1/css/font-awesome.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

	<!-- Custom -->
	<link rel="stylesheet" href="css/custom.css">

</head>

<body>
	<!-- Navbar -->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">ShortlistR</a>
			</div>
		
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Username <span class="glyphicon glyphicon-chevron-down"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Main Content -->
	<div class="container">
		<div class="row">
			<!-- Existing Rankings -->
			<div class="col-md-3">
				<div class="panel-group">
					<div class='panel panel-default'>
					    <div class='panel-heading'><h4>Ongoing Rankings</h4></div>
					    <div class='panel-body'>
					    	<button type="button" class="btn btn-primary">2015 Residency</button>
					        <p>New rankings that are created go here for a quick link to the evaluations</p>
					    </div>
					</div>
					<div class='panel panel-default'>
					    <div class='panel-heading'><h4>Past Rankings</h4></div>
					    <div class='panel-body'>
					        <p>Buttons with previous ranking results will be here, can be drop downs or tabbed with different positions.</p>
					    </div>
					</div>
				</div>
			</div>
			<!-- New Rankings -->
			<div class="col-md-9">
				<div class='panel panel-default'>
				    <div class='panel-heading'><h4>New Ranking</h4></div>
				    <div class='panel-body'>
				        <p>This is the view for a rank instance owner. Certain panels or features will be dropped for those who only have interviewing roles.</p>
				        <div class="well">
					        <form class="form-horizontal" role="form">
					        	<div class="form-group">
								    <label for="ranking" class="col-xs-2 control-label">Ranking Name</label>
								    <div class="col-xs-10">
								        <input type="text" class="form-control" id="ranking">
								    </div>
								</div>
								<div class="form-group">
								    <label for="questions" class="col-xs-2 control-label">Questionnaire</label>
								    <div class="col-xs-10">
								    	<select class="form-control" id="questions">
								        	<option>Set 1</option>
								        	<option>Set 2</option>
								        	<option>Set 3</option>
								        	<option>Create New</option>
								        </select>
								    </div>
								</div>
								<div class="form-group">
									<label for="eres" class="col-xs-2 control-label">Upload Eres</label>
								    <div class="col-xs-10">
								        <input type="file" accept="csv" id="eres">
								    </div>
								</div>
								<div class="form-group">
								    <div class="col-xs-offset-2 col-xs-10">
								      <button type="submit" class="btn btn-default">Submit</button>
								    </div>
								</div>
						    </form>
						</div>
				        <p>Create New goes to a separate page which comes back to here when submitted.</p>
				    </div>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- Interviews -->
			<div class="col-md-6">
				<div class='panel panel-default'>
				    <div class='panel-heading'><h4>Interviews</h4></div>
				    <div class='panel-body'>
				    	<ul class="nav nav-tabs nav-justified" id="interviews">
				    		<li class="active"><a href="#upcoming" data-toggle="tab">Upcoming</a></li>
				    		<li><a href="#unscheduled" data-toggle="tab">Unscheduled</a></li>
				    		<li><a href="#interviewer" data-toggle="tab">Add Interviewer</a></li>
				    	</ul>
				    	<div class="tab-content">
				    		<div id="upcoming" class="tab-pane fade in active">
				    			<br>
					            <table class="table table-hover">
					            	<tr>
						            	<th>Date</th>
						            	<th>Candidate</th>
						            	<th>Interviewers</th>
						            	<th>Location</th>
						            </tr>
						           	<tr class="upcoming">
						           		<td>12/10/14</td>
						           		<td><a data-toggle="modal" data-target="#modal" data-head="Candidate A" data-body="Specific Interview Details">Candidate A</a></td>
						           		<td>Interviewer A<br>Interviewer B<br>Interviewer C</td>
						           		<td>KCBD</td>
						           	</tr>
						           	<tr>
						           		<td>12/11/14</td>
						           		<td>Candidate B</td>
						           		<td>Interviewer A<br>Interviewer B<br>Interviewer C</td>
						           		<td>Lying-In</td>
						           	</tr>
						           	<tr>
						           		<td>12/12/14</td>
						           		<td>Candidate C</td>
						           		<td>Interviewer A<br>Interviewer B<br>Interviewer C</td>
						           		<td>Hospital</td>
						           	</tr>
					            </table>
					            <div class="alert alert-info" role="alert">
					            	The table rows would come from a loop and check the candidate model to see if the value for datetime was none or not. Clicking a candidate name should bring up more specific details.
					            </div>
					        </div>
					        <div id="unscheduled" class="tab-pane fade in">
					        	<br>
					            <ul class="list-group">
								    <li class="list-group-item">Candidate D<button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#modal" data-head="Schedule Candidate D" data-body="Schedule Form"><span class="glyphicon glyphicon-calendar"></span></button></li>
								    <li class="list-group-item">Candidate E</li>
								    <li class="list-group-item">Candidate F</li>
								    <li class="list-group-item">Candidate G</li>
								    <li class="list-group-item">Candidate H</li>
								</ul>
								<div class="alert alert-info" role="alert">
					            	The list items come from a loop and check the candidate model to see if the value for datetime was none or not. Clicking the calendar icon on the right brings up a schedule form.
					            </div>
					        </div>
					        <div id="interviewer" class="tab-pane fade in">
					        	<br>
					        	<div class="well">
					        		<form class="form-horizontal" role="form">
							        	<div class="form-group">
										    <label for="name" class="col-xs-2 control-label">Name</label>
										    <div class="col-xs-10">
										        <input type="text" class="form-control" id="name">
										    </div>
										</div>
										<div class="form-group">
										    <label for="position" class="col-xs-2 control-label">Position</label>
										    <div class="col-xs-10">
										    	<input type="text" class="form-control" id="position">
										    </div>
										</div>
										<div class="form-group">
											<label for="session" class="col-xs-2 control-label">Session</label>
										    <div class="col-xs-10">
										        <select class="form-control" id="session">
										        	<option>2015 Residency</option>
										        	<option>2015 Other Position</option>
										        	<option>2015 Other Position</option>
										        </select>
										    </div>
										</div>
										<div class="form-group">
										    <div class="col-xs-offset-2 col-xs-10">
										      <button type="submit" class="btn btn-default">Submit</button>
										    </div>
										</div>
								    </form>
					        	</div>
					            <div class="alert alert-info" role="alert">
					            	This tab should only show up for those who have the permission to add interviewers. Rank comes from a list of current ranking timeframes (only if the possible interviewers are couple with the ranking period).
					            </div>
					        </div>
				        </div>
				    </div>
				</div>
			</div>

			<!-- Assessments -->
			<div class="col-md-6">
				<div class='panel panel-default'>
				    <div class='panel-heading'><h4>Assessments</h4></div>
				    <div class='panel-body'>
				    	<ul class="nav nav-tabs nav-justified" id="assessments">
				    		<li class="active"><a href="#notstarted" data-toggle="tab">Not Started</a></li>
				    		<li><a href="#progress" data-toggle="tab">In Progress</a></li>
				    		<li><a href="#complete" data-toggle="tab">Complete</a></li>
				    	</ul>
				    	<div class="tab-content">
				    		<div id="notstarted" class="tab-pane fade in active">
				    			<br>
				    			<div class="alert alert-danger" role="alert">
					            	Rankings must be submitted by MM/DD/YYYY
					            </div>
				    			<ul class="list-group">
								    <li class="list-group-item">Candidate Z<button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#modal" data-head="Candidate Z" data-body="Assessment Form"><span class="glyphicon glyphicon-tasks"></span></button></li>
								    <li class="list-group-item">Candidate Y</li>
								    <li class="list-group-item">Candidate X</li>
								    <li class="list-group-item">Candidate W</li>
								    <li class="list-group-item">Candidate V</li>
								</ul>
					            <div class="alert alert-info" role="alert">
					            	Any candidates whose interviews have passed and nothing has been done yet in terms of ranking them. Click button on right to start
					            </div>
					        </div>
					        <div id="progress" class="tab-pane fade in">
					            <br>
					            <div class="alert alert-danger" role="alert">
					            	Rankings must be submitted by MM/DD/YYYY
					            </div>
				    			<ul class="list-group">
								    <li class="list-group-item">Candidate 8<button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#modal" data-head="Candidate 8" data-body="Assessment Form"><span class="glyphicon glyphicon-tasks"></span></button></li>
								    <li class="list-group-item">Candidate 1</li>
								    <li class="list-group-item">Candidate 2</li>
								    <li class="list-group-item">Candidate 3</li>
								    <li class="list-group-item">Candidate 4</li>
								</ul>
					            <div class="alert alert-info" role="alert">
					            	There could be an internal flag that is set when an interviewer opens the assessment and saves but doesn't submit. Click the button on right to edit.
					            </div>
					        </div>
					        <div id="complete" class="tab-pane fade in">
					            <br>
				    			<ul class="list-group">
								    <li class="list-group-item">Candidate 9<button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#modal" data-head="Candidate 9 Assessment Overview" data-body="Assessment Details"><span class="glyphicon glyphicon-list-alt"></span></button></li>
								    <li class="list-group-item">Candidate 7</li>
								    <li class="list-group-item">Candidate 6</li>
								    <li class="list-group-item">Candidate 5</li>
								    <li class="list-group-item">Candidate 0</li>
								</ul>
					            <div class="alert alert-info" role="alert">
					            	Click on the button to review assessment.
					            </div>
					        </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- Test Fillers and Notes -->
			<div class="col-md-3">
				<div class='panel panel-default'>
				    <div class='panel-heading'><h4>Dialogs</h4></div>
				    <div class='panel-body'>
						<p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal" data-head="{% block modal_title %}{% endblock %}" data-body="{% block modal_body %}{% endblock %}">Generic Modal</button></p>

				        <p><button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal" data-head="Patient Details" data-body="Can use a {% include 'details.html' %} here">Patient Details</button></p>
				    </div>
				</div>
			</div>
			<div class="col-md-3">
				<div class='panel panel-default'>
				    <div class='panel-heading'><h4>Graph</h4></div>
				    <div class='panel-body'>
				        <p><button type="button" class="btn btn-default charttest" data-toggle="modal" data-target="#testchart" data-head="Test D3" data-body="">Test D3</button></p>
				    	<div class="alert alert-info" role="alert">
				    		This chart is in a separate modal. Trying to minimize how many separate modals I use, but it will be easier when I can pass things from other pages through the template tags.
				    	</div>
				    </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading"><h4>Notes</h4></div>
					<div class='panel-body'>
						<p>Even though we'll be using Django template tags, it may be good to seperate each module panel into its own .html file and then just use the {% include %} template tag to pull in each panels contents.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal dialogs -->
	<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	                <h4 class="modal-title" id="label">{% block modal_title %}{% endblock %}</h4>
	            </div>
	            <div class="modal-body">
	                {% block modal_body %}{% endblock %}
	            </div>
	            <div class="modal-footer">
	            	{% block modal_footer %}{% endblock %}
	                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="modal fade" id="testchart" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
	    <div class="modal-dialog" id="dchart">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	                <h4 class="modal-title" id="label">D3 Test</h4>
	            </div>
	            <div class="modal-body">
	                <center><svg class="chart"></svg></center>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	            </div>
	        </div>
	    </div>
	</div>

<!-- Javascript -->
<script src="js/footer.js"></script>

</body>

</html>